body {
    background-color: black;
}

.header-titulo{
    color: tomato;
    font-size: 22px;
    text-align: center;
    background-color: brown;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    justify-content: center;
}