@use "./variables";

.footer{
    background:#111;
    padding:70px 0 25px;
    margin-top:100px;
}

.footer h3{
    color:variables.$color-blanco;
    font-weight:700;
}

.footer h3 span{
    color:variables.$color-principal;
}

.footer h4{
    color:variables.$color-blanco;
    margin-bottom:20px;
}

.footer p{
    color:#bdbdbd;
    line-height:1.8;
}

.footer ul{
    list-style:none;
    padding:0;
}

.footer li{
    margin-bottom:12px;
}

.footer a{
    text-decoration:none;
    color:#bdbdbd;
    transition:.3s;
}

.footer a:hover{
    color:variables.$color-principal;
}

.footer hr{
    border-color:#333;
    margin:40px 0 20px;
}

.footer .copyright{
    text-align:center;
    margin:0;
    color:#888;

}