// =========================
// COLORES
// =========================

$color-principal: #00B4D8;
$color-principal-hover: #0096C7;

$color-fondo: #1A1A1A;

$color-blanco: #FFFFFF;

$color-gris: #B0B0B0;
$color-fondo-secundario:#151515;

// =========================
// TIPOGRAFÍA
// =========================

$fuente-principal: "Poppins", sans-serif;


// =========================
// ESPACIADOS
// =========================

$espaciado-pequeno: 10px;
$espaciado-medio: 20px;
$espaciado-grande: 40px;


// =========================
// SOMBRAS
// =========================

$sombra-suave: 0px 4px 10px rgba(0,0,0,.2);